@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&family=Open+Sans+Condensed:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
}

.top_img{
  width: 100%;
  background-color: #F9F9F3;

}
.top_img img{
  width: 700px;
  height: 80px;
  margin:5px 30% auto;
}

.navigation-bar{
  background-color: black;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
  height: 90px;
  text-align: center;
}

.navigation-bar a{
  display: inline-block;
  float: none;
  font-size: 25px;
  text-decoration: none;
  color: #ECE2C1;
  padding: 30px 30px;
  margin:0 80px;
}

.navigation-bar a:hover{
  background-color: #ECE3C9;
  color: black;
}

.welcome{
  width: 100%;
  height: 90px;
}

.welcome_mssg{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 35px;
  background: #F9F9F3;
  text-align: center;
  padding: 20px;
}

.form-box{
  width: 70%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #ECE3C9;
  border-radius: 8px;
}

.form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.form form{
  margin-top:6%;
}

.search-form input[type="text"]{
  text-align: left;
  margin: auto;
  border: 0;
  display: block;
  background: none;
  text-align: center;
  border: 2px solid #ECE3C9;
  width: 55%;
  padding: 14px 10px;
  outline: none;
  border-radius: 20px;
  transition: 0.23s;
  color: black;
  font-size: 20px;
  font-family: 'Jost', sans-serif;
}

.search-form input::placeholder{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

.search-form input[type="text"]:focus{
  width: 60%;
  border-color: black;
  background-color: black;
  color: #ECE3C9;
  font-size: 25px;
}

.search-form label{
  font-size: 23px;
  font-family: 'Barlow Condensed', sans-serif;
}
.search-form input[type="submit"]{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;;
  border: solid 1px black;
  background: black;
  padding: 20px;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #ECE3C9;
  border: 2px solid #ECE3C9;
  border-radius: 40px;
  outline: none;
}

.search-form input[type="submit"]:hover{
  background: #ECE3C9;
  color: black;
}

.welcome{
  width: 100%;
  height: 90px;
}

.mssg{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 35px;
  background: #F9F9F3;
  text-align: center;
  padding: 20px;
}

.table_box{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Muli', sans-serif;
}

.content-table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  min-width: 90%;
  font-size: 1.1em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0 0 0 0.15);
}

.content-table thead tr{
  background-color: #ECE3C9;
  border: none;
  color: black;
  text-align: auto;
  font-weight: bold;
}
.content-table th,
.content-table td {
  padding: 13px 16px;
}
.content-table tbody tr {
  border-bottom: 1.5px solid #909090;
}

.footer {
  margin-bottom: 80px;
}
